<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sitio web dedicado a fanaticos del motocilismo nacional">
    <meta name="keywords" content="Moto Max , Motos Argentina , Motos argeninas">
    <meta name="author" content="Tomas Nardi">
    <meta name="robotos" content="noindex">
    <meta name="copyright" content="Max moto Inc">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/stylesheets/prueba.css">
    <title>Nardi´s Motos Inc</title>
    <link rel="icon" href="/public/images/honda-logo.png">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid"> 
        <nav class="navbar navbar-dark bg-dark fixed-top my-1">
            <div class="container-fluid">
            <img src="/public/images/honda-logo.png" class="honda-logo" alt="">
              <a class="navbar-brand titulo" href="http://localhost:3000/"> Nardi´s Motos Inc</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                  <h5 class="offcanvas-title menu-navegacion" id="offcanvasDarkNavbarLabel">Nardi´s Motos Inc</h5>
                  <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body barra-desplegable">
                  <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="http://localhost:3000/">Home</a>
                    </li>
                    <li class="nav-item">
                    </li>
                  </ul>
                </div>
              </div>
            </div>
        </nav>
          <!-- hasta aca es el navbar-->
  <body>
    {{{body}}}
  </body>
            <!-- Inicio de footer -->
          <footer class="py-3 my-4 footer">
            <p class="text-center text-muted">© 2023 Nardi´s Motos , Inc</p>
          </footer>

          <!-- Fin de footer -->
</html>

