            <div class="configuracion-Usuario">
                <h1> "Nardi´s Motos Inc" ANUNCIA LA LLEGADA AL MERCADO ARGENTINO DE LA NUEVA MOTO ---</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nam id libero distinctio. Assumenda
                    accusamus eveniet impedit dolore deserunt. Doloribus iusto aspernatur error quia necessitatibus
                    molestiae, eius voluptatem eligendi Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque
                    nam eaque porro illum ullam incidunt hic totam recusandae mollitia assumenda dolorem ut quam,
                    blanditiis maxime repudiandae pariatur molestiae reiciendis facilis. Lorem ipsum dolor sit amet
                    consectetur adipisicing elit. Facere error exercitationem rem voluptatibus vero ex architecto eius
                    ipsa veniam. Ut nesciunt delectus libero hic incidunt consequatur ex laboriosam sint voluptatum.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed rerum consequuntur quaerat, itaque sunt
                    aut maxime soluta possimus magni pariatur eveniet! Maiores repellat eum enim consequatur neque,
                    expedita ipsam autem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati eum vel
                    voluptatibus ut inventore eos sint fuga autem? Provident soluta, nobis error voluptatum consectetur
                    aperiam iusto? Ducimus consequatur consequuntur optio.</p>

            </div>


            <!--Script para desplegar el navbar-->

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>